<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
table, td, th {  
 border: 1px solid #ddd;
 text-align: left;
}
table{
 border-collapse: collapse;
 width: 50%;
}
.table-data{
  overflow-x:auto;
}
th, td {
  padding: 15px;
}
 </style>
</head>
<body>
  <h1> May Node and Express be with you. </h1>
   <% var len=data.editData.length; 
        var editname,editquote,url;
        console.log('data.editData.length',len);
        if(len!=0){
          var i=1;
          data.editData.forEach(function(data){
            editname=data.name;
            editquote=data.quote;
            console.log('editname is ',editname);
            console.log('editquote is ',editquote);
          });
        }
        if(len!=0){
          url='/route/update/'+editname;
          console.log('update url' ,url);
        }
        else{
          url='/route/read';
          console.log('read url',url);
        }
    %>
  <form action="<%=url %>" method="POST">
    <input type="text" placeholder="name" name="name" required value="<%=(typeof len!=0) ? editname : ''%>">
    <input type="text" placeholder="quote" name="quote" required value="<%=(typeof len!=0) ? editquote:  ''%>">
    <button type="submit">Submit</button>
  </form>
    <div class="table-data">
    <table border="1" >
        <tr>
            <th>name</th>
            <th>quote</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
        <%
        var len=data.fetchData.length;
        console.log('data.fetchData.length',len);
        if(len!=0){
        var i=1;
        data.fetchData.forEach(function(data){
        %>
        <tr>
            <td><%=data.name %></td>
            <td><%=data.quote %></td>
            <td><a href="/route/edit/<%=data.name%>" >Edit</a></td>
            <td><a href="/route/delete/<%=data.name%>" >Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
<script src="../database.js"></script>
</body>
</html>